.env
*.ckpt
*.wav
*.pyc
*.bin
*.npy
*.rttm
*.png
*.meta
/MILVUS/volumes
/APP/web_url.py
/APP/dataset
/APP/dataset/stt
/APP/src/wespeaker
/APP/pretrained_models
/APP/src/nsnet2_denoiser
/APP/config/default_subrole_prompt.txt
/APP/config/default_system_prompt.txt
/APP/config/concat_system_prompt.txt